//vars
$white: #f6f6f6;
$blue: #33c1e3;
$grey: #727272;
$darkgrey: #414141;
$red:#e85f61;
//layout
@import "_misc/fonts";
@import "_misc/mixins";
@import "_misc/adjustment";
@import "_misc/normalize";

//styles
@import "sections/header";
@import "sections/footer";
@import "sections/content";


//media
@import "adaptive/media";