@media screen and (max-width: 1200px) { //hd
html{
	font-size: 16px;
}	
.container{
	width: 970px ;
}
}

@media screen and (max-width: 992px) { //laptop
html{
	font-size: 15px;
}		
.container{
	width: 750px ;
}	
.page-content{
	width: rem(500px);
}
.about__left
{
	width: rem(172px);
}
.about__right{
	width: rem(290px);
}
.about__pic{
	width:rem(145px);
	height: rem(145px);
}
}

@media screen and (max-width: 768px) { //tablets
html{
	font-size: 14px;
}	
.container{
	width: 470px ;
}
}

@media screen and (max-width: 480px) { //phones
html{
	font-size: 12px;
}	
.container{
	width: auto ;
}	
}